
@media (max-width: 715px) {

body{
  background-color: var(--Dark-Slate-Grey);
  width: 98vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto ;
  font-size: 16px;
}

img.signup{
  display: none;
}

img.signup-mobile{
  width: 100%;
/*  height: 40%;*/
}

.container{
  width: 100vw;
  max-width: 375px;
/*  height: 100vh;*/
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--White);
}

form{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

p,label,h1{
    color: var(--Dark-Slate-Grey);
  }

  p{
  margin: 5px 0;
  }

  input{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #ccc;
  }

button{
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
}

button:hover{
  background-color: var(--Tomato);
}



}








@media (min-width: 715px) {


img.signup-mobile{
  display: none;
}

body{
  background-color: var(--Dark-Slate-Grey);
  width: 98vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto ;
  font-size: 16px;
}

.container{
  background-color: var(--White);
  max-width: 700px;
  width: 98vw;
  min-height: 70vh;
  margin: auto ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}




img.signup{
  height: 100%;
  width: 40%;
  padding: 10px;
}



img.list-icon{
  width: 15px;
  height: 15px;
}

  
form{
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

  p,label,h1{
    color: var(--Dark-Slate-Grey);
  }

  p{
  margin: 10px 0;
  }

  label{
    display: block;
    margin: 10px 0px;
  }

  input{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #ccc;
  }

button{
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
}

button:hover{
  background-color: var(--Tomato);
}

}
