:root {
--Dark-Slate-Grey : hsl(234, 29%, 20%);
--Charcoal-Grey : hsl(235, 18%, 26%);
--Grey : hsl(231, 7%, 60%);
--White : hsl(0, 0%, 100%);
--Tomato : hsl(4, 100%, 67%);
--Font-size : 16px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

